<div class="main-container">
    <h4 class="text-primary">Login</h4>
    <hr>
    
    <form [formGroup]="login" (ngSubmit)="Entrar()" novalidate="novalidate" autocomplete="off">
        <div>
            <div class="form-group row">
                <label class="col-2 col-form-label">Usuario</label>
                <div class="col-8">
                  <input
                      class="form-control"
                      type="text"
                      placeholder="Usuario"
                      formControlName="usuario"
                  >
                  <!-- <small *ngIf="registro.get('usuario').hasError('minlength')" class="text-danger">Ingrese mínimo 7 caracteres.</small> -->
                </div>
            </div>
    
            <div class="form-group row">
                <label class="col-2 col-form-label">Contraseña</label>
                <div class="col-8">
                  <input
                      class="form-control"
                      type="password"
                      placeholder="Contraseña"
                      formControlName="contrasena"
                  >
                  <!-- <small *ngIf="registro.get('contrasena').hasError('minlength')" class="text-danger">Ingrese mínimo 10 caracteres.</small> -->
                  <small *ngIf="mensaje" class="text-danger">{{ mensaje }}</small>
                </div>
              </div>
    
            <div class="form-group row">
                <label class="col-2 col-form-label">&nbsp;</label>
                <div class="input-group col-md-8">
                  <button [disabled]="login.invalid" type="submit" class="btn btn-outline-primary btn-block">
                    Entrar
                  </button>
                </div>
            </div>

            <div class="form-group row">
              <label class="col-2 col-form-label">&nbsp;</label>
              <div class="input-group col-md-8">
                  <a class="text-primary" routerLink="/cambiarcontrasena">Cambiar contraseña...</a>
              </div>
          </div>

            <div class="form-group row">
                <label class="col-2 col-form-label">&nbsp;</label>
                <div class="input-group col-md-8">
                    <label>¿No estás registrado? Ingresa aquí <a class="text-primary" routerLink="/registro">Registrarse...</a></label>
                </div>
            </div>
        </div>
    </form>
</div>
